<!DOCTYPE html>
<html lang="en">
<head>
    <title>People</title>
</head>
<body>
<h1> Task creation form </h1>

#the action command tells you that when you submit this form you want to go to the addmovie route and add this movie to the array of movies and display all of the movies
<form action="/AddMovie" method="POST">
    <label for="movie">Task Info</label>
    <input type="text" id="movie" name="movie" placeholder="Please enter the movie name..">
    <input type="submit" value="Create Todo!">
</form>

</body>
</html>